doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title About us
    link(rel="stylesheet", href="styles.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css", integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==", crossorigin="anonymous", referrerpolicy="no-referrer")
  body
    header
      .header-content
        h1.text Best Festival Buying and Selling Ticket site
        img.logo(src="images/logo11.png", alt="Logo")
        nav.nav-links
          a.nav-link(href="/db_test") Home
          a.nav-link(href="#") Contact Us
    .image-container
      //- img(src="./festival1.jpeg", alt="main-image")
      h2.text-1 What is TicketSphere
      p.paragraph
        | TicketSphere is a secure, practical, and equitable marketplace for buying and selling tickets for plays, concerts, festivals & sporting events. We limit our markup from the original sales price to a maximum of 20% in order to safeguard consumers from overpricing. TicketSphere modifies its markup in accordance with country-specific laws and regulations that establish the maximum price at which a product may be resold. As a customer, you are aware that the cost of your tickets will always be reasonable. We do user checks as well as alliances and cooperation with event planners help to prevent fraud.
        br
        | The most popular website for ticket buyers and sellers worldwide is TicketSphere.
      .page-layout
        .centered-container
          .why-ticketsphere
            h2 How it works
            p.safe
              i.fa-solid.fa-shield
              |  Safe
            p.desc
              | TicketSphere is safe. The tickets and sellers on our platform are verified based on several criteria. Through partnerships with organisations and ticket providers, we offer Secure tickets which are 100% valid.
              br
            p.Easy
              i.fa-solid.fa-check-double
              |  Easy
              br
            p.desc1
              | Listing a ticket can be done in a few clicks. Simply upload your ticket and provide the required information. After this, you can sit back and relax - you will be notified when your ticket has been sold and we will transfer the money to your bank account in 3 business days. Buying a ticket is really easy as well. You can pay directly through our app and the ticket will be available in your TicketSphere account and sent to your e-mail inbox immediately.
              br
            p.fair
              i.fa-solid.fa-handshake
              | Fair
              br
            p.desc2
              | As a TicketSphere fan, you know you’ll always be paying a fair price for your tickets. We protect buyers from overpricing by keeping to a maximum 20% mark-up from the original sales price.
