extends layout 
block content

    header
      .container-ilias
        .cathydiv 
            h2.cathy We Can Make Your Dream Come True
        a.logo-ilias(href="")
          img.logo(src="images/logo11.png", alt="Logo")
        nav
          ul.list-items-container
            li.list-items-ilias
              a(href="#") Listing
            li.list-items-ilias 
              a(href="#") About Us
            li.list-items-ilias
              a(href="#") Terms and Conditions
        button.content-ilias Sell Tickets