doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Festival Ticket Selling Company
    // Linking the external CSS file
    link(rel="stylesheet", href="styles.css")
  body
    // the main content here
    
    footer
      .footer-section
        .contact
          h2 Contact Us
          p Email: info@festivaltickets.com
          p Phone: +44 123 456 7890
          p Address: 123 Festival Street, London, United Kingdom.
        .follow
          h2 Follow Us
          // Add social media icons
          .social-icons
            img(src="images/socialMediaImages.png", alt="Social media image")
        .support
          h2 Support Us
          p For any inquiries or assistance, please contact us via email or phone.
