doctype html
html(lang="en")
  head
    title Login Page
    link(rel="stylesheet", href="login.css")
  body(class="body")
    .login-container
      .login-form
        h2.login-title Login
        form(action="/login", method="POST")
          .form-group
            label(for="username") Username
            input(type="text", id="username", name="username", placeholder="Enter your username", required)
          .form-group
            label(for="password") Password
            input(type="password", id="password", name="password", placeholder="Enter your password", required)
          input(type='submit' value='Submit',class="login-button")
      .signup-link
        p Don't have an account? 
        a(href="/signup") Sign up here 
  
  //- footer
  //-     .footer-section
  //-       .contact
  //-         h2 Contact Us
  //-         p Email: info@festivaltickets.com
  //-         p Phone: +44 123 456 7890
  //-         p Address: 123 Festival Street, London, United Kingdom.
  //-       .follow
  //-         h2 Follow Us
  //-         // Add social media icons
  //-         .social-icons
  //-           img(src="images/socialMediaImages.png", alt="Social media image")
  //-       .support
  //-         h2 Support Us
  //-         p For any inquiries or assistance, please contact us via email or phone. 
