doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Festival More Info
    link(rel="stylesheet", href="moreinfo.css") <!-- Include your CSS file -->
  body
    header.moreinfoHead
      h1 Glastonbury Festival
      .btn-container
        button.buy-ticket-btn Buy Your Ticket Now
      nav
        ul
          li
            a(href="/") Home
            <!-- Add links to other pages as needed -->
    main
      section
        h2 Dates
        p August 1-3, 2024
      section
        h2 Price
        p
          | $50 for single-day pass
          br
          | $50 for full festival pass
      section
        h2 Location
        p City Park, Example City, Country
      section.description
        h2 Description
        p.
          Head south to Peckham Rye Park where you will find some of the biggest names in electronic music at GALA including DJ EZ, Folamour and Job Jobse. Join the crowds of party people in the sun and let the good vibes take you late into the night. 24-26 May
